/* Whole page */

body {
    background-color: aliceblue;
    margin: 15rem 0;
}

/* Whole form*/

legend {
    background-color: darkcyan;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding-left: 1.5rem;
}

form {
    border: 2px solid;
    padding: 0.5rem 1rem;
    max-width: 50%;
    margin: auto;
    text-align: center;
}

/* Form controls */

input {
    font-size: 1.5rem;
    margin: 0.5rem;
}

button {
    background-color: rgb(93, 182, 132);
    color: white;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
}